<%= render 'layouts/nav' %>

<div class="container">
	<div class="row">

<!-- User info start -->
		<%= render 'users/leftCol',user:current_user %>
<!-- User info end -->

<!-- [start] User一覧 -->
		<div class="col-md-8">
			<div class="row">
			  	<h2>Users</h2>
			</div>
			<div class="row">
				<p class="col-md-2">Image</p>
				<p class="col-md-3">name</p>
			</div>

			<% @users.each do |user| %>
				<div class="row">
					<%= attachment_image_tag user, :my_image, class: "col-md-2 img-circle pull-left", fallback: "no_image.jpg" %>
					<p class="col-md-3"><%= user.name %></p>
					<p class="col-md-7"><%= link_to "show", user_path(user.id), class: "user_#{user.id}" %></p>
				</div>
			<% end %>


<!-- [end] User一覧 -->

		</div>

	</div>
</div>


