<%= render 'layouts/nav' %>


<div class="container">
	<div class="row">

<!-- User info start -->
		<div class="col-md-4">
	    	<div class="row">
	    		<h2>User info</h2>
	     		<div class="row">
		     		<label class="col-md-5 border-dark">name</label>
		     		<p class="col-md-7"><%= current_user.name %></p>
		     	</div>
		     	<div class="row">
		     		<label class="col-md-5">introduction</label>
		     		<p class="col-md-7">text text</p>
		     	</div>
		     	<div class="row">
		     		<%= link_to edit_user_path(current_user.id), class: "btn btn-default col-md-10" do %>
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<% end %>
		     	</div>
	    	</div>

		    <div class="row">
		    	<h2>New book</h2>
		    	<form>
			     	<div class="row">
						<label for="title">Title</label>
					</div>
					<div class="row">
						<input type="text" name="title" class="col-md-10">
					</div>

					<div class="row">
				     	<label for="opinion" class="">Opinion</label>
				    </div>
				    <div class="row">
						<textarea type="text" name="opinion" class="col-md-10 mb-4"></textarea>
					</div>
					<div class="row">
			    		<input type="submit" value="Create Book" class="btn btn-default col-md-10">
					</div>
				</form>
		    </div>
		</div>
<!-- User info end -->

<!-- [start] User一覧 -->
		<div class="col-md-8">
			<div class="row">
			  	<h2>Users</h2>
			</div>
			<div class="row">
				<p class="col-md-2">Image</p>
				<p class="col-md-3">name</p>
			</div>

			<% @users.each do |user| %>
				<div class="row">
					<p class="col-md-2">Image1</p>
					<p class="col-md-3"><%= user.name %></p>
					<p class="col-md-7"><%= link_to "show", user_path(user.id) %></p>
				</div>
			<% end %>


<!-- [end] User一覧 -->

		</div>

	</div>
</div>


