<%= render 'layouts/nav' %>

<div class="container">
	<div class="row">

<!-- User info start -->
		<%= render 'users/leftCol',user:current_user %>
<!-- User info end -->

<!-- [start] User一覧 -->
<div class="col-md-8">
	<table class="table">
		<h2>Users</h2>
		<thead>
			<tr>
				<th class="col-md-3">image</th>
				<th class="col-md-4">name</th>
				<th class="col-md-5"></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td class="col-md-3">
						<%= attachment_image_tag user, :my_image,  :fill, 50, 50, class: "img-circle", fallback: "no_image.jpg", size: "50x50" %>
					</td>
					<td class="col-md-4"><%= user.name %></td>
					<td class="col-md-5"><%= link_to "show", user_path(user.id), class: "user_#{user.id}" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- [end] User一覧 -->


		</div>

	</div>
</div>

