<%= render 'layouts/nav' %>

<div class="container">
	<div class="row">
<!-- User info start -->
		<%= render 'users/leftCol', users: @user, user: @user %>
<!-- User info end -->

<!-- [Start] user/:idが投稿したBook一覧 -->

<div class="col-md-8">
	<table class="table">
		<h2>Books</h2>
		<thead>
			<tr>
				<th class="col-md-3"></th>
				<th class="col-md-4">Title</th>
				<th class="col-md-5">Opinion</th>
			</tr>
		</thead>
		<tbody>
			<% @books.each do |book| %>
				<tr>
					<td class="col-md-3">
						<%= attachment_image_tag book.user, :my_image,  :fill, 50, 50, class: "img-circle", fallback: "no_image.jpg", size: "50x50" %>
					</td>
					<td class="col-md-4"><%= link_to book.title, book_path(book.id), class: "book_#{book.id}" %></td>
					<td class="col-md-5"><%= book.opinion %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- [end] user/:idが投稿したBook一覧 -->


		</div>

	</div>
</div>


