<%= render 'layouts/nav' %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<h1 class="row">Editing Book</h1>
		<%= form_for(@book) do |f| %>
			<%= render 'layouts/error_messages', model: f.object %>
			<%= f.label :title, "Title" %>
			<div class="row">
				<%= f.text_field :title, class: "book_title col-md-12" %>
			</div>
			<%= f.label :opinion, "Opinion" %>
			<div class="row">
				<%= f.text_area :opinion, class: "book_body col-md-12" %>
			</div>

			<div class="row">
				<%= f.submit "Update Book", class: "btn btn-primary col-md-12" %>
			</div>
		<% end %>

		<%= link_to "Show", book_path(@book.id), class: "book_#{@book.id}" %> |
		<%= link_to "Back", books_path, class: "books" %>
		</div>
	</div>
</div>
