<%= render 'layouts/nav' %>

<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
	<%= render 'layouts/error_messages', model: f.object %>
	<%= f.text_field :title %>

	<%= f.text_area :opinion %>

	<%= f.submit "Update Book" %>

<% end %>

<p>Find me in app/views/books/edit.html.erb</p>
