<%= render 'layouts/nav' %>

<div class="container">
	<div class="row">
<!-- User info start -->
		<%= render 'users/leftCol', users: @user, user: @book_detail.user %>
<!-- User info end -->

		<div class="col-md-8">
			<div class="row">
			  	<h2>Book detail</h2>
			</div>
			<div class="row">
				<label class="col-md-2">Image</label>
				<label class="col-md-3">Title</label>
				<label class="col-md-7">Opinion</label>
			</div class="row">
				<%= @book_detail.title %>
				<%= @book_detail.opinion %>
				<% if current_user.id == @book_detail.user.id %>
					<%= link_to "edit", edit_book_path(@book_detail), class: "edit_book_#{@book_detail.id}" %>
					<%= link_to "destroy", book_path(@book_detail), method: :delete, class: "destroy_book_#{@book_detail.id}" %>
				<% end %>
			</div>
			<div class="row">
				<%= link_to @book_detail.user.name, user_path(@book_detail.user.id), class: "user_#{@book_detail.user.id}" %>
			</div>


	</div>
</div>
